@{
    ViewBag.Title = "Contactez-nous.";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>Collège de Valleyfield</h3>

<address>
    169 Champlain,<br />
    Salaberry-de-Valleyfield, QC J6T 1X6<br />
    Téléphone:(450) 373-9441
</address>
<br/>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@PetCare.com</a>
</address>