@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="jumbotron">
    <h1>BIENVENUE A PET-CARE</h1>
</div>

<div class="row">    
    @if (Session["userName"] != null)
    {
        Html.Label(Session["userName"].ToString());
    }
</div>