
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Profil</h2>
@Html.ActionLink("Selecteur de theme", "Theme", "Home");
@Html.ActionLink("Boite de reception", "Index", "Messages");
