
@{
    ViewBag.Title = "Theme";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<script>
    //$(document).ready(function (e) {
    //    var theme = $.cookie("theme");
    //    if (theme != null) {
    //        $('link[href="~/Content/"')
    //    }
    //});
    function changeTheme() {
        $.ajax({
            type: "POST",
            url: "/Home/saveCookie",
            data: document.getElementById('themesList').value,
            datatype: "html",
            success: function (data) {
                $("#table").fadeIn();
                $("#back").fadeIn();
                $("#messageDiv").fadeIn();
            }
        })
    }
</script>
<h2>Theme</h2>
<div style="margin:10px auto;">
    <table>
        <tr>
            <th>Choisir votre thème</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <select onchange="alert()" id="themesList">
                    <option>Classique</option>
                    <option>Rouge</option>
                    <option>Bleu</option>
                </select>
            </td>
            <td></td>
        </tr>
    </table>
</div>
<div>
    @Html.ActionLink("Retour", "Edit", "Membres")
</div>
